{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Назад</a>
    <a>Подробнее</a>
</div>


<div class="card-body">
    <a>Планирование дел на предприятии</a><br>
    <a>Используемые технологии: SQL и Django Framework</a><br>
    <a>Используется система регистрации и авторизации пользователей, реализован поиск по названию, а также статистика включающая в себя прогресс завершенных дел предприятия.</a><br>
    <a>Создание нового дела возможно после нажатия конпки "Создать новое", необходимо заполнить поля с названием, описанием, ссылкой, а также прикрепить возможную ссылку на важный ресурс и выставить крайний срок.</a><br>
    <a>Расположение дел по возрастанию, от страх к новым, но для перемещения реализовано перетаскивание, нажатием клавишой мышки на троеточие можно переместить дело в любое место. После выполнения дела необходимо перейти в него нажатием по нему и выставить флажок "Выполнено". Для удаления дела необходимо нажать на крестик и подтвердить удаление.</a>
</div>






{% endblock content %}